USE [master]
GO
/****** Object:  Database [xsxkBFZL]    Script Date: 2020/8/29 10:52:40 ******/
CREATE DATABASE [xsxkBFZL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'xsxkBFZL', FILENAME = N'G:\sql sever\MSSQL11.MRXIAOKE\MSSQL\DATA\xsxkBFZL.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'xsxkBFZL_log', FILENAME = N'G:\sql sever\MSSQL11.MRXIAOKE\MSSQL\DATA\xsxkBFZL_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [xsxkBFZL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [xsxkBFZL]
GO
/****** Object:  Table [dbo].[DLB]    Script Date: 2020/8/29 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DLB](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[XH] [varchar](50) NULL,
	[KL] [varchar](50) NULL,
 CONSTRAINT [PK_DLB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KCB]    Script Date: 2020/8/29 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KCB](
	[KCH] [varchar](50) NOT NULL,
	[KCM] [varchar](50) NULL,
	[KXXQ] [smallint] NULL,
	[XS] [int] NULL,
	[XF] [int] NULL,
 CONSTRAINT [PK_KCB] PRIMARY KEY CLUSTERED 
(
	[KCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XS_KCB]    Script Date: 2020/8/29 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XS_KCB](
	[XH] [varchar](50) NOT NULL,
	[KCH] [varchar](50) NOT NULL,
 CONSTRAINT [PK_XS_KCB] PRIMARY KEY CLUSTERED 
(
	[XH] ASC,
	[KCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XSB]    Script Date: 2020/8/29 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XSB](
	[XH] [varchar](50) NOT NULL,
	[XM] [varchar](50) NULL,
	[XB] [bit] NULL,
	[CSSJ] [datetime] NULL,
	[ZY_ID] [int] NULL,
	[ZXF] [int] NULL,
	[BZ] [varchar](500) NULL,
	[ZP] [image] NULL,
 CONSTRAINT [PK_XSB] PRIMARY KEY CLUSTERED 
(
	[XH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZYB]    Script Date: 2020/8/29 10:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZYB](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZYM] [varchar](50) NULL,
	[RS] [int] NULL,
	[FDY] [varchar](50) NULL,
 CONSTRAINT [PK_ZYB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[XSB]  WITH CHECK ADD  CONSTRAINT [FK_XSB_ZYB] FOREIGN KEY([ZY_ID])
REFERENCES [dbo].[ZYB] ([ID])
GO
ALTER TABLE [dbo].[XSB] CHECK CONSTRAINT [FK_XSB_ZYB]
GO
USE [master]
GO
